<script context="module">
  export async function preload(page, session) {
    const { username, dash } = page.params;
    const backendURI = process.env.BACKEND_URI || BACKEND_URI;
    const resp = await this.fetch(`${backendURI}/${username}`);
    const dashboards = await resp.json();

    if (!dashboards.length) {
      this.redirect(302, `/${page.params.username}/try-out`);
    }

    return { dashboards, username };
  }
</script>

<script>
  import { goto } from "@sapper/app";
  import urlJoin from "proper-url-join";
  import BetaWarning from "../components/BetaWarning";
  export let dashboards;
  export let username;
</script>

<style>
  p {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0;
  }
  p:hover {
    background-color: aqua;
  }
  .container {
    max-width: 1024px;
    margin: 3rem auto;
  }
</style>

<div class="container">

  <h1>{username}'s dashboards</h1>

  {#each dashboards as dash}
    <p on:click={() => goto(urlJoin(username, dash))}>{dash}</p>
  {/each}

</div>

<BetaWarning />
