<script context="module">
  export async function preload(page, session) {
    const { username, dash, widget } = page.params;
    const backendURI = process.env.BACKEND_URI || BACKEND_URI;
    const resp = await this.fetch(
      `${backendURI}/${username}/${dash}/${widget}?all_confs=true`
    );
    const allPossibleWidgets = await resp.json();
    return { allPossibleWidgets, username, dash };
  }
</script>

<script>
  export let allPossibleWidgets;
  export let username;
  export let dash;
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";
  import VarChart from "../../../../components/VarChart";
  import ChartBox from "../../../../components/ChartBox";
  import BetaWarning from "../../../../components/BetaWarning";
  import BackButton from "../../../../components/BackButton";
  import urlJoin from "proper-url-join";

  const categorized = allPossibleWidgets.reduce((acc, widget) => {
    const key = widget.meta.transform || "ungrouped";
    if (!acc[key]) {
      acc[key] = [];
    }
    acc[key].push(widget);

    return acc;
  }, {});
  const categoryKeys = Object.keys(categorized);

  const transformTranslations = [
    ["ungrouped", "Simple"],
    ["count_messages", "Count messages"],
    ["avg_numbers", "Average numbers"],
    ["sum_numbers", "Sum numbers"],
    ["sum_map", "Sum multiple values"],
    ["avg_map", "Average multiple values"],
    ["categorize_strings", "Categorize primitives"]
  ].filter(([catKey, catName]) => categoryKeys.includes(catKey));

  async function handleChartBoxClick(e, widget) {
    const user = widget.meta.namespace[0];
    const dash = widget.meta.namespace[1];
    const widgetName = widget.meta.namespace[2];

    await fetch(urlJoin(BACKEND_URI, user, dash, widgetName, "settings"), {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        timeseries: widget.meta.timeseries,
        transform: widget.meta.transform
      })
    });
    goto(urlJoin(user, dash));
  }
</script>

<style>
  .chart-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 1rem 1rem 0;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
  }

  .category-title {
    display: block;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 2rem auto 1rem auto;
    max-width: 1024px;
  }
</style>

<BackButton on:click={() => goto(urlJoin(username, dash))} />

{#each transformTranslations as [key, trans]}
  <h2 class="category-title">{trans}</h2>
  <div class="chart-container">
    {#each categorized[key] as widget}
      <ChartBox width={2} on:click={e => handleChartBoxClick(e, widget)}>
        <VarChart {widget} title={widget.meta.timeseries} />
      </ChartBox>
    {/each}
  </div>
{/each}

<BetaWarning />
