<script context="module">
  export async function preload(page, session) {
    const { username, dash } = page.params;
    const backendURI = process.env.BACKEND_URI || BACKEND_URI;
    const widgetsResponse = await this.fetch(
      `${backendURI}/${username}/${dash}`
    );
    const widgets = await widgetsResponse.json();
    const reservedResponse = await this.fetch(`${backendURI}/${username}/res`);
    const reserved = await reservedResponse.json();
    return { widgets, page, reserved };
  }
</script>

<script>
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";
  import urlJoin from "proper-url-join";
  import EmptyDash from "../../components/EmptyDash";
  import BetaWarning from "../../components/BetaWarning";
  import VarChart from "../../components/VarChart";
  import ChartBox from "../../components/ChartBox";
  import BackButton from "../../components/BackButton";
  import ReserveUser from "../../components/ReserveUser";
  export let reserved;
  export let widgets;
  export let page;
  const { username, dash } = page.params;
  let sseSources;

  const atLeastOneSetting = !!Object.values(widgets).find(
    w => !w.meta.no_settings
  );

  onMount(() => {
    sseSources = Object.values(widgets).map(widget => {
      const sseURL = urlJoin(BACKEND_URI, ...widget.meta.namespace, "sse", {
        query: {
          datetime: widget.data[widget.data.length - 1].datetime,
          timeseries: widget.meta.timeseries,
          transform: widget.meta.transform
        }
      });
      const source = new EventSource(sseURL);

      source.addEventListener("error", function(event) {
        console.info("[SSE close]", event);
      });

      source.addEventListener("open", function(event) {
        console.info("[SSE open]", event);
      });

      source.addEventListener("message", function(event) {
        const newWidget = JSON.parse(event.data);
        const oldData = widgets[newWidget.meta.namespace[2]].data;
        const matchingRow = oldData.findIndex(
          od =>
            od.datetime === newWidget.data[0].datetime &&
            od.body === newWidget.data[0].body
        );
        if (matchingRow > -1) {
          oldData.splice(matchingRow);
        }
        let newData = [...oldData, ...newWidget.data];
        const cutAmount = newData.length - 100;
        if (cutAmount > 0) {
          newData.splice(0, cutAmount);
        }
        widgets[newWidget.meta.namespace[2]].data = newData;
      });

      return source;
    });

    return function() {
      sseSources.forEach(source => {
        source.close();
      });
    };
  });

  const handleClick = async href => {
    sseSources.forEach(s => {
      s.close();
    });
    await goto(href);
  };

  $: widgetsArr = Object.entries(widgets);
</script>

<style>
  .dash-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 1rem 1rem 0;
  }
</style>

<BackButton on:click={() => handleClick(urlJoin(username))} />

<div class="dash-container">
  {#if !reserved && atLeastOneSetting}
    <ReserveUser {username} />
  {/if}
  {#each widgetsArr as [widgetName, widget] (widget.meta.namespace.join() + widget.data[widget.data.length - 1].datetime)}
    <ChartBox
      on:click={() => handleClick(urlJoin(page.path, widgetName, 'settings'))}>
      <VarChart {widget} title={widget.meta.namespace[2]} />
    </ChartBox>
  {/each}
</div>

{#if widgetsArr.length === 0}
  <EmptyDash {page} />
{/if}

<BetaWarning />
