<script>
  import { onMount } from "svelte";
  import * as Pancake from "../../pancake-ce";
  import ColumnTooltip from "./ColumnTooltip";
  import { formatDatetimes, dropExcess } from "../utils";
  import moment from "moment";

  export let widget;

  const { meta, data } = widget;
  const labels = dropExcess(data, 3).map(d => d.datetime);
  const ticks = formatDatetimes(labels);

  while (data.length <= 3) {
    data.unshift(0);
  }

  const convertedData = data.map((d, i) => ({
    x: i,
    y: d.body,
    datetime: d.datetime
  }));

  const vertMaxVal = Math.max(null, ...convertedData.map(x => x.y)) + 2;
  const barWidth = 1;
  const xAxisTickCount = 2; // approximate
  const xAxisAdjustment = -0.5;
</script>

<style>
  .chart {
    height: 300px;
    padding: 3em 2em 2em 3em;
    box-sizing: border-box;
  }

  .axes {
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    opacity: 0.6;
  }

  .label {
    opacity: 0.6;
  }

  .y.label {
    position: absolute;
    left: -2.5rem;
    width: 2rem;
    text-align: right;
    bottom: -0.5em;
  }

  .x.label {
    position: absolute;
    width: 4rem;
    left: -2rem;
    bottom: -2rem;
    font-family: sans-serif;
    text-align: center;
    white-space: nowrap;
  }

  .column {
    height: 100%;
    width: 100%;
    background-color: #1f77b4;
    border-left: 1px solid white;
    opacity: 0.8;
  }
</style>

<div class="chart">
  <Pancake.Chart
    x1={xAxisAdjustment}
    x2={convertedData.length - 1}
    y1={0}
    y2={vertMaxVal}>

    <Pancake.Box
      x1={xAxisAdjustment}
      x2={convertedData.length + xAxisAdjustment}
      y2={vertMaxVal}>
      <div class="axes" />
    </Pancake.Box>

    <Pancake.Grid vertical count={xAxisTickCount} let:value {ticks}>
      <span class="x label">{value}</span>
    </Pancake.Grid>

    <Pancake.Grid horizontal count={3} let:value>
      <span class="y label">{value}</span>
    </Pancake.Grid>

    <Pancake.Columns data={convertedData} width={barWidth} let:value>
      <ColumnTooltip value={`${value.y}\n${formatDatetimes(value.datetime)}`}>
        <div class="column" />
      </ColumnTooltip>
    </Pancake.Columns>

  </Pancake.Chart>
</div>
