<style>
  .warning-bar {
    background-color: yellow;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 0.3rem 0.6rem;
  }
</style>

<p class="warning-bar">
  Bashboard is in beta. Leave feedback in
  <a target="_blank" href="https://gitlab.com/bashboard">issues</a>
  or email bb-dash@krister.ee.
</p>
