<script>
  export let width = 3;

  const widthStyle = `width: calc(${100 / width - 0.1}% - 1rem)`;
</script>

<style>
  .chart-box {
    overflow: visible;
    background-color: white;
    margin: 1rem 0 0 1rem;
    min-width: 320px;
    box-sizing: border-box;
    display: inherit;

    text-decoration: none;

    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s linear;
  }

  .chart-box:hover {
    background-color: aqua;
  }
</style>

<div style={widthStyle} class="chart-box" on:click>
  <slot />
</div>
