<script>
  export let value;
</script>

<style>
  .tooltip-enabled {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .tooltip-enabled:hover {
    opacity: 1;
    z-index: 2;
  }
  .tooltip-enabled:hover .tooltip {
    display: block;
  }
  .tooltip {
    display: none;
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    transform: translateX(-100%);
    pointer-events: none;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  }
</style>

<div class="tooltip-enabled">
  <slot />
  <div class="tooltip">
    <pre>
      {typeof value === 'string' ? value : JSON.stringify(value, null, 2)}
    </pre>
  </div>
</div>
