<script>
  import { onMount, beforeUpdate } from "svelte";
  import { formatDatetimes } from "../utils";
  export let widget;

  let info = widget.data[0].body;
  let type = typeof info;
  if (type === "object") {
    info = JSON.stringify(info, null, 2);
  }
  let p;

  onMount(() => {
    const maxWidth = p.parentElement.scrollWidth;
    const currentWidth = p.scrollWidth;
    const missingFillWidth = maxWidth / currentWidth;

    const maxHeight = p.parentElement.scrollHeight - 80;
    const currentHeight = p.scrollHeight;
    const missingFillHeight = maxHeight / currentHeight;

    const currentFontSize = parseFloat(
      getComputedStyle(p).getPropertyValue("font-size")
    );
    const newFontSize =
      currentFontSize * Math.min(missingFillHeight, missingFillWidth);
    p.style.fontSize = newFontSize + "px";
  });
</script>

<style>
  .info {
    display: inline-block;
    text-align: center;
    margin: 0.5rem auto;
    transition: font-size 0.4s;
  }
  .info.object {
    background-color: hsl(210, 33%, 92%);
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    text-align: left;
    padding: 1rem;
    border-radius: 5px;
  }
  .label {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.6;
  }
</style>

<p class="info {type}" bind:this={p}>{info}</p>
<p class="label">{formatDatetimes(widget.data[0].datetime)}</p>
