<script>
  import { onMount } from "svelte";
  import ColumnTooltip from "./ColumnTooltip";
  import * as Pancake from "../../pancake-ce";
  import { formatDatetimes, dropExcess } from "../utils";
  import moment from "moment";

  export let widget;

  const { meta, data } = widget;
  const labels = dropExcess(data, 3).map(d => d.datetime);
  const ticks = formatDatetimes(labels);

  const bodies = data.map(d => d.body);
  const allKeys = Object.keys(Object.assign(...bodies));
  const colors = [
    "red",
    "green",
    "blue",
    "yellow",
    "pink",
    "purple",
    "darkblue",
    "darkcyan",
    "darkgoldenrod",
    "darkgray",
    "darkgreen",
    "darkgrey",
    "darkkhaki",
    "darkmagenta",
    "darkolivegreen",
    "darkorange",
    "darkorchid",
    "darkred",
    "darksalmon",
    "darkseagreen",
    "darkslateblue",
    "darkslategray",
    "darkslategrey",
    "darkturquoise",
    "darkviolet",
    "deeppink",
    "deepskyblue",
    "dimgray",
    "dimgrey",
    "dodgerblue"
  ];
  const coloredKeys = allKeys.reduce((acc, key, i) => {
    acc[key] = colors[i];
    return acc;
  }, {});

  const bodiesWithDate = data.map((d, i) => ({
    ...d.body,
    datetime: d.datetime
  }));
  const bodiesWithI = data.map((d, i) => ({ ...d.body, i }));
  const stacks = Pancake.stacks(bodiesWithI, allKeys, "i");

  const vertMaxVal =
    Math.max(null, ...bodies.map(x => Math.max(...Object.values(x)))) + 2;
  const xAxisTickCount = 2; // approximate
  const xAxisAdjustment = -0.5;

  const barWidth = 0.95;
  const groupGap = 0.5;
  let shiftX = 1 / (allKeys.length + groupGap);
</script>

<style>
  .chart {
    height: 300px;
    padding: 3em 2em 2em 3em;
    box-sizing: border-box;
  }

  .axes {
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    opacity: 0.6;
  }

  .label {
    opacity: 0.6;
  }

  .y.label {
    position: absolute;
    left: -2.5rem;
    width: 2rem;
    text-align: right;
    bottom: -0.5em;
  }

  .x.label {
    position: absolute;
    width: 4rem;
    left: -2rem;
    bottom: -2rem;
    font-family: sans-serif;
    text-align: center;
    white-space: nowrap;
  }

  .column {
    height: 100%;
    width: 100%;
    background-color: #1f77b4;
    border-left: 1px solid white;
    opacity: 0.8;
  }
</style>

<div class="chart">
  <Pancake.Chart
    x1={xAxisAdjustment}
    x2={stacks[0].values.length + xAxisAdjustment}
    y1={0}
    y2={vertMaxVal}>

    <Pancake.Box
      x1={xAxisAdjustment}
      x2={stacks[0].values.length + xAxisAdjustment}
      y2={vertMaxVal}>
      <div class="axes" />
    </Pancake.Box>

    <Pancake.Grid vertical count={xAxisTickCount} let:value {ticks}>
      <span class="x label">{value}</span>
    </Pancake.Grid>

    <Pancake.Grid horizontal count={3} let:value>
      <span class="y label">{value}</span>
    </Pancake.Grid>

    {#each stacks as stack, i}
      {#each stack.values as d, j}
        <Pancake.Box
          x1={d.i - xAxisAdjustment - i * shiftX}
          x2={d.i - xAxisAdjustment - i * shiftX - shiftX * barWidth}
          y1={d.value}
          y2={0}>
          <ColumnTooltip
            value={{ ...bodiesWithDate[j], datetime: formatDatetimes(bodiesWithDate[j].datetime) }}>
            <div
              class="column"
              style={`background-color: ${coloredKeys[d.key]}`} />
          </ColumnTooltip>
        </Pancake.Box>
      {/each}
    {/each}

  </Pancake.Chart>
</div>

{#each allKeys.reverse() as key}
  <div style={`color: ${coloredKeys[key]}; display: inline; padding: 0.5rem;`}>
    {key}
  </div>
{/each}
