<script>
  export let widget;
  export let title;

  import BarChart from "./BarChart";
  import StackChart from "./StackChart";
  import LastChart from "./LastChart";

  const isNew = widget.meta.no_settings === true;
  const isObject =
    typeof widget.data[0].body === "object" && widget.data[0].body !== null;
</script>

<style>
  .container {
    display: flex;
    height: 360px;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .title {
    text-align: center;
  }
  p.new {
    background-color: yellow;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }
  .container.new {
    border: 4px solid yellow;
  }
  .inner-container {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
  }
</style>

<div class="container {isNew && 'new'}">
  {#if isNew}
    <p class="new">NEW! Click to change settings</p>
  {/if}
  <div class="title">{title}</div>

  <div class="inner-container">
    {#if widget.meta.timeseries === 'last'}
      <LastChart {widget} />
    {:else if isObject}
      <StackChart {widget} />
    {:else}
      <BarChart {widget} />
    {/if}
  </div>
</div>
