@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400italic,400);

/* LAYOUT */

.rendered-content {
  padding-top: 3rem;
  padding-bottom: 17rem;
  max-width: 60rem;
  margin-left: calc(17rem + 4rem);
}

.left-col {
  position: fixed;
  max-width: 17rem;
  padding: 2rem;
}

.col {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.paper {
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.3);
  border-radius: 6px;
  padding: 0.6rem;
  margin: 0.6rem;
}

.center-content {
  text-align: center;
}

pre, code {
  text-align: left;
}

img.large-icon {
  width: 50px;
}
.large-icon img {
  width: 150px;
}

.small-center {
  margin: 0 auto;
  max-width: 500px;
}

@media (max-width: 50rem), (max-width: 80rem) and (orientation: portrait) {
  html {
    font-size: 1em !important;
  }
  .rendered-content {
    max-width: none;
    margin: 0 2rem;
    padding-top: 0;
  }
  #tocMenu {
    display: none;
  }
  .left-col {
    position: static;
    margin-bottom: 0;
  }
}

@media (max-width: 50rem) {
  .col {
    width: 100%;
  }
  .rendered-content > *:nth-child(1),
  .rendered-content > *:nth-child(2) {
    text-align: center;
  }
}

/* ELEMENTS */

button {
  background-color: #444;
  border-radius: 2rem;
  padding: 1rem 3rem;
  color: white;
  border: none;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

button h1, button h2, button h3, button h4 {
  margin: 0;
}

/* FONTS */
/* http://type-scale.com/?size=18&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Merriweather&font-family='Merriweather'%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333 */

html {font-size: 1.125em;}

body {
  background-color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #444;
  margin: 0;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

/*h1:first-child {margin-top: 0.5rem;}*/

h1 {font-size: 3.157em;}

h2 {font-size: 2.369em;}

.left-col > h2:first-child {
  margin-top: 0;
}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.85em;}

.hint {
  opacity: 0.6;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

pre, code {
  background-color: #30374eff;
  color: white;
  padding: 0.13rem 0.4rem;
  border-radius: 5px;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* CUSTOM */
pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

blockquote p {
  font-size: 1.5em;
  font-style: italic;
  margin: 1em auto 1em;
  color: #666;
}
